<h3>PrimeNG NGRX Quickstart CLI v11</h3>
<p-table [columns]="cols" [value]="cars" selectionMode="single" [(selection)]="selectedCar"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Car Details" [(visible)]="displayDialog" [style]="{width: '450px'}" [modal]="true" [closable]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div *ngIf="car">
            <div class="p-field">
                <label for="vin">Vin</label>
                <input pInputText id="vin" [(ngModel)]="car.vin" />
            </div>

            <div class="p-field">
                <label for="year">Year</label>
                <input pInputText id="year" [(ngModel)]="car.year" />
            </div>

            <div class="p-field">
                <label for="brand">Brand</label>
                <input pInputText id="brand" [(ngModel)]="car.brand" />
            </div>

            <div class="p-field">
                <label for="color">Color</label>
                <input pInputText id="color" [(ngModel)]="car.color" />
            </div>
        </div>
    </ng-template>
    <ng-template Template="footer">
            <button type="button" pButton icon="pi pi-times" *ngIf="!newCar" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
    </ng-template>
</p-dialog>